@charset "UTF-8";
table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  @media screen and (max-width: 600px) {
    th, td {
      display: block;
      width: 100%;
    }
  }

.btn.btn-primary.btn-lg {
  background-color: black; border-color: black;
}

